# Assingment : Data Structure

### 1. Discuss String slicing and provide examples

In [142]:
s = "this is string"

In [143]:
s

'this is string'

In [144]:
s[:]

'this is string'

In [145]:
s[:1]

't'

In [146]:
s[:5]

'this '

In [147]:
# Reverse string
s[::-1]

'gnirts si siht'

In [148]:
s[1]

'h'

In [149]:
s[-1]

'g'

In [150]:
# string is imutable
s[1]="v"

TypeError: 'str' object does not support item assignment

### 2. Explain the key features of lists in Python.

In [ ]:
# defining empty list
list1 = list()

In [ ]:
list1

In [ ]:
list1.append(1)

In [ ]:
list1

In [ ]:
list1.append(i for i in range(3))

In [ ]:
list1

In [ ]:
def generator(n):
    
    value = 0
        
    while value<n:
        yield value
        
        value+=1
        
for i in generator(5):
    print(i)

# Ignore this

In [ ]:
l = [i for i in range(1,5,2)]

In [ ]:
l

In [ ]:
l.remove(3)

In [ ]:
l

In [ ]:
del l

In [ ]:
l

In [ ]:
l = [1,2,3,4,5,6]

In [ ]:
l[:]

In [ ]:
l[::-1]

### 3. Describe how to access, modify, and delete elements in a list with examples.

##### I think i already done this but lets do it again

In [ ]:
a = [i for i in range(10)]

In [ ]:
a

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.pop()
a

In [ ]:
a.pop(6)

In [ ]:
a

In [ ]:
a.insert(1,"aloo paratha")

In [ ]:
a

In [ ]:
a.remove("aloo paratha")

In [ ]:
del a

In [ ]:
a

### 4. Compare and contrast tuples and lists with examples.

In [ ]:
a , b = list(),tuple()

In [ ]:
a = [1,2,3,4,5]

#### tuple are immutable where lists are mutable

In [ ]:
b = (4,3,5,6,7,8,9)

In [104]:
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [105]:
b.append(1)
b

AttributeError: 'tuple' object has no attribute 'append'

### 5. Describe the key features of sets and provide examples of their use.

In [151]:
s = set()

#### set is mutable
#### set elements dont have indexing 
#### set doesnt store duplicate value

In [153]:
s = {1,2,3,4,5,6}

In [154]:
s.add(3)

In [155]:
s

{1, 2, 3, 4, 5, 6}

In [156]:
s.add(10)

In [157]:
s

{1, 2, 3, 4, 5, 6, 10}

In [158]:
s[1]

TypeError: 'set' object is not subscriptable

In [159]:
s1 ={'a','b','c'}
s2 = {'d','e','f'}

In [160]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [161]:
s1|s2

{'a', 'b', 'c', 'd', 'e', 'f'}

In [163]:
s1.intersection(s2)

set()

In [164]:
s1-s2

{'a', 'b', 'c'}

In [165]:
s2-s1

{'d', 'e', 'f'}

In [166]:
# this is how you iterate set

In [167]:
for i in s:
    print(i)

1
2
3
4
5
6
10

### 6. Discuss the use cases of tuples and sets in Python programming.

#### Tuple : Tuple have super power of immutablity

#### tuples got all the functions and ability which lists have except mutablility

#### tuples can used in all the places where data should remain unchanged once it is defined such as Bank Statements , Call records , FIR register etc

#### ----------------------------------------------------------------------------------------------------------------------------------------------------

#### Set : Set have super power of No-Duplicate

#### sets performs search element and add element opertion in O(1) or constant time complexity which is very useful for better performance

#### Set uses Map under the hood for maintaining this time complexity

#### Example : if want to store email_id for all participant we can use set bcoz email_id should not be duplicate

#### ----------------------------------------------------------------------------------------------------------------------------------------------------

### 7. Describe how to add, modify, and delete items in a dictionary with examples.

In [185]:
d = dict()

In [186]:
a = ['sunny','hunny','bunny','funny','zunny']
for i in range(len(a)):
    d[a[i]] = i
    
a

['sunny', 'hunny', 'bunny', 'funny', 'zunny']

In [187]:
d

{'sunny': 0, 'hunny': 1, 'bunny': 2, 'funny': 3, 'zunny': 4}

In [188]:
d.keys()

dict_keys(['sunny', 'hunny', 'bunny', 'funny', 'zunny'])

In [189]:
d.values()

dict_values([0, 1, 2, 3, 4])

In [190]:
# modify
d['funny']="i am not funny"

In [191]:
d

{'sunny': 0, 'hunny': 1, 'bunny': 2, 'funny': 'i am not funny', 'zunny': 4}

In [192]:
d['funny']

'i am not funny'

In [193]:
# delete element
d.pop('funny')

'i am not funny'

In [194]:
d

{'sunny': 0, 'hunny': 1, 'bunny': 2, 'zunny': 4}

In [195]:
# inserting is so easy
d['harry'] = 'porter'

In [196]:
d

{'sunny': 0, 'hunny': 1, 'bunny': 2, 'zunny': 4, 'harry': 'porter'}

In [197]:
d['harry']

'porter'

### 8. Discuss the importance of dictionary keys being immutable and provide examples.

#### Using mutable key can lead to so many bugs and unexpected behaviour of code ....so keys of python dictionary are immutable

In [203]:
my_dict = {["name"]: "Alice"}

TypeError: unhashable type: 'list'

#### list is hashable so it cant be use as key

#### dictionary keys can be String, Number , Tuple only

In [205]:
d[1]=4

In [206]:
d

{'key1': 2, 1: 4}

In [207]:
d[(1,2)]=34

In [208]:
d

{'key1': 2, 1: 4, (1, 2): 34}

In [209]:
d["mother"]="Maa"

In [210]:
d

{'key1': 2, 1: 4, (1, 2): 34, 'mother': 'Maa'}